db/xml/countries.dtd

<!ELEMENT countries (country+)>
<!ELEMENT country (language|city)*>
<!ATTLIST country name CDATA #REQUIRED
                  population CDATA #IMPLIED
                  area CDATA #IMPLIED>
<!ELEMENT language (#PCDATA)>
<!ATTLIST language percentage CDATA #REQUIRED>
<!ELEMENT city (name,population)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT population (#PCDATA)>
